table {
}

th {
  font-family: 'Suez One', sans-serif;
  font-size: 15px;
  color:#22223b;
}

td {
  border: 1px black solid;
  font-family: 'Noto Sams', sans-serif;
  text-align: center;
  padding: 10px 20px;
  color:#22223b;
}

body {
  background-image: linear-gradient(to bottom right, #ccdbdc, #fcf4d8);
  height: 100%;
  margin: 0px 10px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

header {
  height: 100px;
  background-color: #9a8c98;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 2px;
}

nav {
  position: absolute;
  top: 35px;
  height: 50px;
  width: 100%;
  margin: 0px, 45px;
}

nav p{
  float: left;
  display: inline;
  font-size: 2em;
  font-family: 'leckerli One', serif;
}

nav img {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 80px;
  height: 30px;
}

nav ul{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  margin: auto;
  font-size: 1.5em;
  font-family: 'Suez One', sans-serif;
}

nav a:link{
  text-decoration: none;
  color: #22223b;
}

nav a:hover{
  color: #c9ada7;
}

img {
  position: relative;
  width: 100%;
  height: 50vw;
  opacity: 0.7;
  border-radius: 2px;
}

div p{
  Position: absolute;
  left: 5vw;
  top: 35vw;
  color:#f2e9e4;
  font-size: 80px;
  font-weight: 400;
  text-align: center;
  font-family: 'Suez One', sans-serif;
  display: inline;
  color:#22223b;
}

section{
  display: flex;
  justify-content: space-between;
  margin: 30px 0px;
}

section img{
  width: 50%;
  height: 250px;
  margin: auto;
}

section article{
  margin-left: 30px;
  height: 200px;
  font-family: 'Noto Sams', sans-serif;
  color:#22223b
}

h2{
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  font-family: 'Suez One', sans-serif;
}

b {
  font-weight: bold;
}

section table {
  margin: auto;
}

section th{
  text-align: center;
  font-size: 20px;
  color:#22223b;
}

div {
  width: 100%;
  display: flex;
}

div ul{
  width: 50%;
  margin-left: 15px;
  margin-right: 30px;
}

div li:first-child{
  font-family: 'Suez One', sans-serif;
  font-size: 25px;
  text-align: center;
  color:#22223b;
  margin-top: 0px;
}

div li{
  font-family: 'Suez One', sans-serif;
  font-size: 20px;
  text-align: center;
  color:#22223b;
  margin-top: 20px;
}

div a:link{
  text-decoration: none;
  color: #22223b;
}

div a:hover{
  color: #c9ada7;
}

 div table{
  display: block;
  overflow: scroll;
} 

 ul img{
  flex-direction: row;
  width: 30%;
  height: 100px;
  margin: auto;
  margin-bottom: 30px;
} 

 article h2{
  font-family: 'Suez One', sans-serif;
  font-size: 25px;
  text-align: center;
  color:#22223b;
} 

article p{
  margin: 0px 15px 30px 15px;
  font-family: 'Noto Sams', sans-serif;
  color:#22223b
} 

.merch{
  display: flex;
  flex-direction: row;
}

.merch-link{
  width: 100px;
  height: 150px;
}

footer {
  height: 100px;
  width: 100%;
  background-color: #9a8c98;
  margin-bottom: 0px;
  border-radius: 2px;
  position: relative;
  display: flex;
}

footer p{
  font-family: 'Noto Sams', sans-serif;
  color:#22223b;
  font-size: 10px;
  margin: 0;
}

footer img {
  float: right;
  position: absolute;
  top: 30px;
  right: 10px;
  width: 100px;
  height: 40px;
}

